body {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
}

.app {
  display: grid;
  grid-template-columns: 1.1fr 2.1fr 1.4fr;
  /* instead of those two u can use display - flex */
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}
